<a href="https://colab.research.google.com/github/Analeidi/AI-Capstone/blob/main/readingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reading Data

In [1]:
import sqlite3
import json
from datetime import datetime

In [2]:
timeframe = '2009-01'
sql_transaction = []

connection = sqlite3.connect("/content/drive/MyDrive/Colab Notebooks/'{}.db'.format(timeframe)")
c = connection.cursor()

In [3]:
def create_table():
    c.execute("""CREATE TABLE IF NOT EXISTS parent_reply 
    (parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, 
    comment TEXT, subreddit TEXT, unix INT, score INT)""")


def format_data(data):
    data = data.replace("\n", "  newlinechar  ").replace("\r", "  newlinechar  ").replace(' " ', " ' ")
    return data


def find_existing_score(pid):
    try: 
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else:
            return False
    except Exception as e:
        print("find_parent", e)
        return False

In [4]:
def acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    elif len(data) > 10000:
        return False
    elif data == '[deleted]' or data == '[removed]':
        return False
    else:
        return True


def find_parent(pid):
    try: 
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else:
            return False
    except Exception as e:
        print("find_parent", e)
        return False
        
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

In [5]:
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))


def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))


def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

In [9]:
if __name__== "__main__":
    create_table()
    row_counter = 0 
    row_counter = 0 
    paired_rows = 0 
    #The data below is being encoded with latin-1 not utf-8
    with open("/content/drive/MyDrive/Colab Notebooks/RC_2009-01".format(timeframe.split('-')[0], timeframe), buffering=1000) as f:
        for row in f:
            row_counter += 1
            row = json.loads(row)
            parent_id = row['parent_id']
            body = format_data(row['body'])
            created_utc = row['created_utc']
            score = row['score']
            subreddit = row['subreddit']
            parent_data = find_parent(parent_id) 
            comment_id = row['name']

            if row_counter > 1000000:
                break
            if score >= 2:
                if acceptable(body):
                    existing_comment_score = find_existing_score(parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score:
                            sql_insert_replace_comment(comment_id, parent_id, parent_data, body, subreddit, created_utc, score)
                    else:
                        if parent_data:
                            sql_insert_has_parent(comment_id, parent_id, parent_data, body, subreddit, created_utc, score)
                            paired_rows += 1
                        else:
                            sql_insert_no_parent(comment_id, parent_id, body, subreddit, created_utc, score)

            if row_counter % 10000 == 0:
                print("Total rows read: {}, Paired rows: {}, Time: {}".format(row_counter, paired_rows, str(datetime.now())))

Total rows read: 10000, Paired rows: 20, Time: 2020-12-10 09:36:53.758756
Total rows read: 20000, Paired rows: 49, Time: 2020-12-10 09:36:54.235226
Total rows read: 30000, Paired rows: 71, Time: 2020-12-10 09:36:54.735013
Total rows read: 40000, Paired rows: 104, Time: 2020-12-10 09:36:55.217234
Total rows read: 50000, Paired rows: 139, Time: 2020-12-10 09:36:55.699212
Total rows read: 60000, Paired rows: 159, Time: 2020-12-10 09:36:56.188746
Total rows read: 70000, Paired rows: 182, Time: 2020-12-10 09:36:56.704922
Total rows read: 80000, Paired rows: 201, Time: 2020-12-10 09:36:57.203596
Total rows read: 90000, Paired rows: 233, Time: 2020-12-10 09:36:57.722054
Total rows read: 100000, Paired rows: 247, Time: 2020-12-10 09:36:58.207171
Total rows read: 110000, Paired rows: 269, Time: 2020-12-10 09:36:58.677903
Total rows read: 120000, Paired rows: 287, Time: 2020-12-10 09:36:59.174845
Total rows read: 130000, Paired rows: 310, Time: 2020-12-10 09:36:59.649864
Total rows read: 140000, Paired rows: 335, Time: 2020-12-10 09:37:00.155111
Total rows read: 150000, Paired rows: 371, Time: 2020-12-10 09:37:00.632963
Total rows read: 160000, Paired rows: 395, Time: 2020-12-10 09:37:01.092675
Total rows read: 170000, Paired rows: 424, Time: 2020-12-10 09:37:01.643742
Total rows read: 180000, Paired rows: 446, Time: 2020-12-10 09:37:02.133757
Total rows read: 190000, Paired rows: 468, Time: 2020-12-10 09:37:02.612698
Total rows read: 200000, Paired rows: 500, Time: 2020-12-10 09:37:03.076645
Total rows read: 210000, Paired rows: 531, Time: 2020-12-10 09:37:03.553740
Total rows read: 220000, Paired rows: 555, Time: 2020-12-10 09:37:04.050230
Total rows read: 230000, Paired rows: 576, Time: 2020-12-10 09:37:04.533386
Total rows read: 240000, Paired rows: 601, Time: 2020-12-10 09:37:05.005092
Total rows read: 250000, Paired rows: 624, Time: 2020-12-10 09:37:05.511776
Total rows read: 260000, Paired rows: 656, Time: 2020-12-10 09:37:05.987419
Total rows read: 270000, Paired rows: 675, Time: 2020-12-10 09:37:06.440365
Total rows read: 280000, Paired rows: 692, Time: 2020-12-10 09:37:06.935005
Total rows read: 290000, Paired rows: 713, Time: 2020-12-10 09:37:07.418080
Total rows read: 300000, Paired rows: 741, Time: 2020-12-10 09:37:07.903341
Total rows read: 310000, Paired rows: 762, Time: 2020-12-10 09:37:08.357917
Total rows read: 320000, Paired rows: 778, Time: 2020-12-10 09:37:08.824554
Total rows read: 330000, Paired rows: 810, Time: 2020-12-10 09:37:09.329976
Total rows read: 340000, Paired rows: 837, Time: 2020-12-10 09:37:09.803565
Total rows read: 350000, Paired rows: 862, Time: 2020-12-10 09:37:10.326445
Total rows read: 360000, Paired rows: 894, Time: 2020-12-10 09:37:10.861626
Total rows read: 370000, Paired rows: 927, Time: 2020-12-10 09:37:11.535403
Total rows read: 380000, Paired rows: 946, Time: 2020-12-10 09:37:12.134693
Total rows read: 390000, Paired rows: 976, Time: 2020-12-10 09:37:12.677957
Total rows read: 400000, Paired rows: 1008, Time: 2020-12-10 09:37:13.214331
Total rows read: 410000, Paired rows: 1038, Time: 2020-12-10 09:37:13.791721
Total rows read: 420000, Paired rows: 1068, Time: 2020-12-10 09:37:14.531976
Total rows read: 430000, Paired rows: 1110, Time: 2020-12-10 09:37:15.069227
Total rows read: 440000, Paired rows: 1132, Time: 2020-12-10 09:37:15.581481
Total rows read: 450000, Paired rows: 1159, Time: 2020-12-10 09:37:16.073399
Total rows read: 460000, Paired rows: 1190, Time: 2020-12-10 09:37:16.534945
Total rows read: 470000, Paired rows: 1222, Time: 2020-12-10 09:37:16.999553
Total rows read: 480000, Paired rows: 1257, Time: 2020-12-10 09:37:17.469443
Total rows read: 490000, Paired rows: 1279, Time: 2020-12-10 09:37:17.927398
Total rows read: 500000, Paired rows: 1303, Time: 2020-12-10 09:37:18.382639
Total rows read: 510000, Paired rows: 1329, Time: 2020-12-10 09:37:18.842560
Total rows read: 520000, Paired rows: 1356, Time: 2020-12-10 09:37:19.292237
Total rows read: 530000, Paired rows: 1383, Time: 2020-12-10 09:37:19.760241
Total rows read: 540000, Paired rows: 1411, Time: 2020-12-10 09:37:20.233268
Total rows read: 550000, Paired rows: 1434, Time: 2020-12-10 09:37:20.690710
Total rows read: 560000, Paired rows: 1459, Time: 2020-12-10 09:37:21.154034
Total rows read: 570000, Paired rows: 1485, Time: 2020-12-10 09:37:21.616969
Total rows read: 580000, Paired rows: 1511, Time: 2020-12-10 09:37:22.084380
Total rows read: 590000, Paired rows: 1542, Time: 2020-12-10 09:37:22.563489
Total rows read: 600000, Paired rows: 1568, Time: 2020-12-10 09:37:23.042478
Total rows read: 610000, Paired rows: 1591, Time: 2020-12-10 09:37:23.558010
Total rows read: 620000, Paired rows: 1614, Time: 2020-12-10 09:37:24.015769
Total rows read: 630000, Paired rows: 1635, Time: 2020-12-10 09:37:24.467541
Total rows read: 640000, Paired rows: 1650, Time: 2020-12-10 09:37:24.917450
Total rows read: 650000, Paired rows: 1680, Time: 2020-12-10 09:37:25.370848
Total rows read: 660000, Paired rows: 1703, Time: 2020-12-10 09:37:25.805352
Total rows read: 670000, Paired rows: 1730, Time: 2020-12-10 09:37:26.254173
Total rows read: 680000, Paired rows: 1760, Time: 2020-12-10 09:37:26.694906
Total rows read: 690000, Paired rows: 1785, Time: 2020-12-10 09:37:27.140444
Total rows read: 700000, Paired rows: 1807, Time: 2020-12-10 09:37:27.599457
Total rows read: 710000, Paired rows: 1825, Time: 2020-12-10 09:37:28.056183
Total rows read: 720000, Paired rows: 1861, Time: 2020-12-10 09:37:28.529938
Total rows read: 730000, Paired rows: 1887, Time: 2020-12-10 09:37:28.974023
Total rows read: 740000, Paired rows: 1909, Time: 2020-12-10 09:37:29.432739
Total rows read: 750000, Paired rows: 1931, Time: 2020-12-10 09:37:29.879243
Total rows read: 760000, Paired rows: 1963, Time: 2020-12-10 09:37:30.342718
Total rows read: 770000, Paired rows: 1989, Time: 2020-12-10 09:37:30.797418
Total rows read: 780000, Paired rows: 2012, Time: 2020-12-10 09:37:31.287989
Total rows read: 790000, Paired rows: 2046, Time: 2020-12-10 09:37:31.752064
Total rows read: 800000, Paired rows: 2067, Time: 2020-12-10 09:37:32.216855
Total rows read: 810000, Paired rows: 2085, Time: 2020-12-10 09:37:32.669003
Total rows read: 820000, Paired rows: 2102, Time: 2020-12-10 09:37:33.120195
Total rows read: 830000, Paired rows: 2125, Time: 2020-12-10 09:37:33.579582
Total rows read: 840000, Paired rows: 2150, Time: 2020-12-10 09:37:34.062700
Total rows read: 850000, Paired rows: 2175, Time: 2020-12-10 09:37:34.525203
Total rows read: 860000, Paired rows: 2203, Time: 2020-12-10 09:37:34.979708
Total rows read: 870000, Paired rows: 2225, Time: 2020-12-10 09:37:35.446023
Total rows read: 880000, Paired rows: 2246, Time: 2020-12-10 09:37:35.910335
Total rows read: 890000, Paired rows: 2275, Time: 2020-12-10 09:37:36.366826
Total rows read: 900000, Paired rows: 2303, Time: 2020-12-10 09:37:36.802198
Total rows read: 910000, Paired rows: 2330, Time: 2020-12-10 09:37:37.252340
Total rows read: 920000, Paired rows: 2347, Time: 2020-12-10 09:37:37.737140
Total rows read: 930000, Paired rows: 2376, Time: 2020-12-10 09:37:38.344209
Total rows read: 940000, Paired rows: 2401, Time: 2020-12-10 09:37:38.832052
Total rows read: 950000, Paired rows: 2419, Time: 2020-12-10 09:37:39.299931
Total rows read: 960000, Paired rows: 2443, Time: 2020-12-10 09:37:39.768824
Total rows read: 970000, Paired rows: 2465, Time: 2020-12-10 09:37:40.245997
Total rows read: 980000, Paired rows: 2485, Time: 2020-12-10 09:37:40.745208
Total rows read: 990000, Paired rows: 2508, Time: 2020-12-10 09:37:41.221519
Total rows read: 1000000, Paired rows: 2576, Time: 2020-12-10 09:37:41.688040